.contact{
  position: relative;
  margin-bottom: 23px;
  color:#102940;

  h1{
    margin-bottom: 12px;
    font-size: 27px;
  }

  &__wrap{
    margin-bottom: 35px;
    margin-top: 4px;
    color: #898989;
    font-size: 14px;
    line-height: 22px;
  }

  &__form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    max-width: 664px;
    margin-left: 39px;

    .fieldset{
      width: 48%;
      font-size: 15px;
      font-weight: 600;
      line-height: 20px;

      span{
        display: block;
        margin-bottom: 5px;
      }

    }

    .fieldset_message{
      width: 100%;
    }

    input,
    textarea{
      padding: 10px 13px;
      margin-bottom: 26px;
      border: 1px solid #e2e2e2;
      background-color: #fff;
      height: 35px;
      width: 100%;
      font-size: 13px;
      color: #23577c;
    }

    label{
      display: block;
      margin-bottom: 4px;
      text-align: left;
      font-size: 14px;
    }

    textarea{
      height: 124px;
      margin-bottom: 10px;
    }

    button{
      border:1px solid #008ff7;
      background-color: #008ff7;
      height: 38px;
      margin: 0 auto;
      padding: 0 35px;
      border-radius: 5px;
      font-size: 14px;
      line-height: 38px;
      color: #fff;
      @include main-font;
      transition: color .3s ease, background .3s ease, border .3s ease;

      span{
        position: relative;
      }

      &:hover{
        background-color: transparent;
        color: #008ff7;
      }

    }
  }
}
