.page-title{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 923px;
  margin: -3px auto 46px;
  font-weight: 600;
  line-height: 20px;

  &__wrap{
    display: inline-flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
    margin-bottom: 40px;
  }

  &__logo{
    display: inline-flex;
    margin-right: 19px;
    font-size: 14px;
    color: #898989;

    span{
      display: block;
      letter-spacing: -.5px;
    }

    img{
      position: relative;
      top: 6px;
      margin-right: 24px;
    }

    > div{
      display: flex;
      align-items: center;
    }

  }

  &__logo-title{
    position: relative;
    padding-right: 14px;
    margin-right: 12px;
    font-size: 32px;
    color:#333;
    letter-spacing: 0!important;

    &:before{
      position: absolute;
      top:-2px;
      right: 0;
      width: 1px;
      height: 25px;
      background-color: #e2e2e2;
      content: "";
    }

  }

  &__btn-wrap{
    text-align: center;

    >span{
      color:#898989;
      font-size: 13px;
      letter-spacing: 0.2px;
    }

  }

  &__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 269px;
    height: 66px;
    margin-bottom: 2px;
    border-radius: 4px;
    font-size: 22px;
    color: #fff;

    span{
      position: relative;
      z-index: 3;
    }

    &:before,
    &:after{
      position: absolute;
      top:0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 4px;
      content:'';
      transition: visibility .3s ease, opacity .3s ease;
    }

    &:before{
      z-index: 1;
      background-image: linear-gradient( 90deg, rgb(41,140,218) 0%, rgb(45,152,237) 100%);
    }

    &:after{
      z-index: 2;
      visibility: hidden;
      opacity: 0;
      background-image: linear-gradient( 90deg, rgb(45,152,237) 0%, rgb(41,140,218) 100%);
    }

    &:hover:after{
      visibility: visible;
      opacity: 1;
    }
  }

  &__description{
    margin-bottom: 34px;

    p{
      font-size: 15px;
      color: #898989;
      font-weight: 400;
    }

  }

  .rate_big:before {
    display: none;
  }

}

