.privacy{
  margin-bottom: 36px;
  padding: 18px 31px 18px 0;
  background-color: #fff;
  font-size: 14px;
  line-height: 18px;

  h3{
    margin-bottom: 13px;
    font-size: 17px;
  }
  p{
    margin-bottom: 16px;
  }

}