.software{
  display: flex;
  flex-wrap: wrap;
  margin-right: -31px;
  padding-top: 32px;

  .inner__title{
    margin-bottom: 15px;
  }

  &__item{
    width: 170px;
    padding: 5px 0 17px;
    border: 1px solid rgb(226, 226, 226);
    text-align: center;
    margin: 0 24px 18px -2px;
  }

  &__pic{
    display: inline-block;
    width: 85px;
    height: 85px;
    margin-bottom: -3px;
    background: no-repeat;
    background-position: center;
  }

  &__name{
    margin: 0 10px 11px;
    font-size: 20px;
    font-weight: 600;
    line-height: 21px;
  }
}